<td class="severity">
  <%=node_name%>
</td>

<td class="severity <%=severity%>">
  <%=filename%>
</td>
<td class="severity <%=severity%>">
  <%=timeAgo%>
</td>
<td class="severity <%=severity%>">
  <%=content%>
</td>